<div class="text-white bg-danger d-flex flex-col justify-content-center align-items-center text-center ">
    Hola soy un componente, mi nombre es {{myName()}}
</div>
@if(booleanValue()){
  <div class="bg-success p-3 mt-5 text-center d-flex text-white text-center justify-content-center align-items-center"
  >El valor es verdadero</div>
}
<ul class="mt-5 list-group">
  @for (item of anotherList(); track item) {
    <li (click)="miEvento()" class="list-group-item bg-primary ">{{ item }}</li>
  }
</ul>
  